body {
  width: 100%;
}

.intro_background_image {
  background-image: url(../Components/assets/26820.jpg) !important;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
}

.all_container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 50px;
}

.crypto_section {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 16px;
  width: 60%;
  height: max-content;
  box-shadow: 0px 0px 20px black;
}

.widget_section {
  border-radius: 16px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: max-content;
}

.single_crypto {
  width: 100%;
  height: 60px;
  position: relative;
  border-radius: var(--btn-border-radius);
  background-color: var(--main-bg-color-dark);
  background-color: #212121;
  border-radius: 16px;
  box-shadow: 0px 0px 30px black;
  margin-top: 50px;
}

.single_crypto:hover {
  box-shadow: 0px 0px 7px var(--main-accent-color-dark);
  cursor: pointer;
}

.fa-bookmark:hover {
  transform: translateY(-2px);
}

.single_crypto_template {
  width: 100%;
  height: 60px;
  position: relative;
  border-radius: var(--btn-border-radius);
  background-color: var(--new-container);
  color: var(--main-accent-color-dark);
  box-shadow: 0px 0px 7px var(--main-accent-color-dark);
  margin-top: 10px;
}

.crypto_description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 100px;
  box-sizing: border-box;
}

.single_crypto img {
  object-fit: contain;
  width: 40px;
  position: absolute;
  top: -30px;
  left: 20px;
  background-color: var(--new-bg);
  border-radius: 50%;
  padding: 10px;
}

.crypto_price_change {
  display: flex;
  align-items: center;
  gap: 3px;
}

.crypto_symbol {
  width: 40%;
}

.crypto_symbol h6 {
  font-weight: lighter;
}

.price {
  width: 20%;
  margin-left: 20px;
  box-sizing: border-box;
}

.crypto_price_change {
  width: 20%;
  margin-left: 20px;
  box-sizing: border-box;
}

.fa-arrow-down {
  color: red;
}

.fa-arrow-up {
  color: yellowgreen;
}

.crypto_symbol {
  width: 40%;
}

.pagination button {
  object-fit: contain;
  width: 25px;
  border-radius: 5px;
  padding: 3px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--main-accent-color-dark);
  border: none;
}

.page_buttons {
  background-color: var(--main-accent-color-dark);
  padding: 10px;
  border-radius: var(--btn-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin: 50px auto;
  box-shadow: 0px 0px 30px var(--main-accent-color-dark);
  font-weight: bolder;
}

.page_buttons i {
  cursor: pointer;
}

.crypto_section_skeleton {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 16px;
  width: 60%;
  border: 3px solid var(--new-container);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_container_skeleton {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 50px;
}

.ringloader_crypto {
  transform: scale(2);
}

#market_cap_h5 {
  width: 20%;
}

.link,
.link:visited {
  color: var(--main-text-color-dark);
  text-decoration: none;
}

#coinrankinfo {
  font-size: small;
}

#result_per_page,
#currencyResult {
  padding: 5px;
  margin-bottom: 15px;
  background-color: var(--new-bg);
  border: none;
  color: white;
  box-shadow: 0px 0px 3px var(--main-accent-color-dark);
  cursor: pointer;
}

#result_per_page:focus,
#result_per_page::active {
  border: none;
  outline: none;
}

.select_preferences {
  display: flex;
  justify-content: baseline;
  gap: 5px;
}

.tooltipHover {
  position: relative;
}

.tooltip {
  position: absolute;
  padding: 15px;
  width: 200px;
  background-color: black;
  color: var(--main-accent-color-dark);
}

.widget_section {
  justify-content: center !important;
}

@media only screen and (min-width: 280px) and (max-width: 1000px) {
  .all_container {
    flex-direction: column;
    padding: 0;
  }

  .crypto_section_skeleton {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    border: 3px solid var(--new-container);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .all_container_skeleton {
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0 0 0 0;
    margin-top: 20px;
    margin: 20px auto;
  }

  .news_page_wallpaper {
    background-image: url("https://nztech.org.nz/wp-content/uploads/sites/8/2023/02/NewsHomeSlider-Website-Banner-48.png");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .news_page_wallpaper_title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news_page_wallpaper_title h1 {
    font-size: 20px;
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: var(--btn-border-radius);
  }

  .single_coin_about_section p {
    box-sizing: border-box;
    overflow: hidden;
    overflow: scroll;
    height: 250px;
    padding: 10px;
    background-color: var(--new-container);
    border-radius: var(--btn-border-radius);
  }

  .single_coin_about_section a p {
    background-color: transparent;
    padding: 0;
    height: max-content;
  }

  .title_section {
    gap: 0;
  }

  .single_coin_price_section img {
    width: 75px !important;
  }

  .coin_id_price {
    margin-left: 15px;
  }

  .coin_id_price h1,
  .coin_id_price h2 {
    font-size: 24px !important;
  }

  .searchbar {
    width: 100%;
  }

  .link {
    color: var(--main-text-color-dark);
  }

  .searchbar input {
    width: 100% !important;
    height: 40px !important;
  }

  .intro_background_image {
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
    text-align: center;
  }

  .single_crypto {
    height: 80px;
  }

  .search_section {
    width: 95% !important;
    margin: 30px auto !important;
  }

  .search_input {
    width: 100% !important;
    margin: 0 0 0 0 !important;
  }

  .search_results {
    width: 100% !important;
    padding: 0 !important;
    margin: 20px 0 0 0 !important;
  }

  .mobile_font_smaller {
    font-size: 14px;
    width: 150px;
  }

  .crypto_price_change {
    margin: 0;
    width: 25%;
  }

  .crypto_section {
    width: 100%;
    margin: 10px 0 0 0 !important;
  }

  .crypto_description {
    padding: 0 15px;
  }

  .crypto_symbol h6 {
    display: none;
  }

  .price {
    margin: 0;
    width: 25%;
    font-size: 12px;
  }

  .navbar_container {
    padding: 0 10px;
  }

  .title_section {
    width: 100%;
    justify-content: center;
  }

  .title_section h1 {
    display: none;
  }

  .navbar_redirections ul {
    display: none;
  }

  .navbar_items {
    padding: 0;
  }

  .hamburger_menu {
    display: block;
    position: relative;
  }

  .general_container {
    padding: 0 !important;
  }

  .coin_description {
    padding: 0 !important;
  }

  .single_coin_id_chart {
    padding: 0 !important;
  }

  .coin_id_top_buttons {
    margin: 40px 0 0 0 !important;
  }

  #currencyResult2 {
    margin-bottom: 25px !important ;
  }

  .hamburger_menu_items {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 50px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--main-accent-color-dark);
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .hamburger_menu_items ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .hamburger_menu_items ul li {
    list-style: none;
    font-size: 18px;
  }

  .hamburger_menu_items ul li a {
    color: white;
    text-decoration: none;
  }

  .coin_id_top_buttons {
    width: 95% !important;
    margin: 0 auto !important;
    padding-top: 20px;
  }

  .back_button {
    display: none;
  }

  .search_input {
    width: 40px;
  }

  #market_cap_h5 {
    display: none;
  }

  .hide_mobile {
    display: none;
  }

  .widget_section {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .all_news_container {
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 0 0 0;
  }

  .single_news_container {
    width: 95% !important;
    margin: 0;
    padding: 0;
  }

  .crypto_news_container {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .search_section {
    width: 100% !important;
    margin: 30px 0 0 0 !important;
    align-items: flex-start !important;
  }

  .intro_background_image {
    font-size: 40px;
  }

  .search_results {
    padding: 0 !important;
    margin-top: 15px;
  }

  .search_input {
    width: 40px;
  }

  .all_container {
    width: 100%;
    margin-top: 20px;
  }

  #market_cap_h5 {
    display: block !important;
  }

  .single_crypto {
    box-sizing: border-box;
    height: 70px;
    padding: 0 15px !important;
  }

  .single_news_container {
    width: 100%;
  }

  .single_news {
    height: 150px;
    width: 100%;
    padding: 0;
  }

  .single_news h1 {
    box-sizing: border-box;
    padding: 5px;
    font-size: 18px;
  }

  .single_news_description {
    box-sizing: border-box;
    height: 100%;
    width: 100% !important;
  }

  .searchbar {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) {
  .crypto_description {
    padding: 0;
  }

  .hide_mobile {
    display: none;
  }

  .crypto_symbol h6 {
    display: none;
  }

  .single_news_description {
    /* font-size: 11.5px; */
    width: 250px;
  }

  .mobile_font_smaller {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  #market_cap_h5 {
    display: block;
  }

  .fa-arrow-left {
    margin: 0 0 0 0 !important;
  }

  .navbar_redirections ul {
    display: flex;
    gap: 20px;
  }

  .navbar_redirections ul li {
    width: fit-content;
  }

  .hamburger_menu {
    display: none;
  }

  .search_results {
    /* width: 50% !important; */
    padding: 0 !important;
    margin-top: 15px;
  }

  .title_section h1 {
    display: block;
  }
}

@media only screen and (min-width: 250px) and (max-width: 375px) {
  .crypto_price_change {
    display: none;
  }

  .price {
    width: 40%;
    font-size: medium;
  }
}
