.search_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin: 100px 0 0 50px;
  padding-bottom: 50px;
}

.search_input {
  display: flex;
  flex-direction: row;
}

.search_input input {
  box-sizing: border-box;
  width: 600px;
  height: 40px;
  outline: none;
  border: none;
  border-top-left-radius: var(--btn-border-radius);
  border-bottom-left-radius: var(--btn-border-radius);
  padding-left: 10px;
  background-color: var(--new-container);
  color: white;
}

.fa-magnify {
  padding: 12px;
}

.search_input input::placeholder {
  color: var(--main-accent-color-dark);
}

.search_input button {
  height: 40px;
  width: 100px;
  border: none;
  outline: none;
  border-top-right-radius: var(--btn-border-radius);
  border-bottom-right-radius: var(--btn-border-radius);
  background-color: var(--main-accent-color-dark);
  color: var(--main-text-color-dark);
  box-shadow: 0px 0px 20px var(--main-accent-color-dark);
  cursor: pointer;
}

.search_input button:hover {
  box-shadow: 0px 0px 30px var(--main-accent-color-dark);
}

.search_results {
  box-sizing: border-box;
  width: 700px;
  border-radius: var(--btn-border-radius);
  display: none;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  padding: 20px;
}

.search_result {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  height: 60px;
  background-color: var(--main-bg-color-dark);
  background-color: var(--new-container);
  color: var(--main-text-color-dark);
  border-radius: var(--btn-border-radius);
  padding: 0 25px;
}

.search_result img {
  width: 50px;
  object-fit: contain;
}

.search_result:hover {
  transform: translateY(-6px);
  cursor: pointer;
  color: var(--main-accent-color-dark);
  box-shadow: 0 0 10px var(--main-accent-color-dark);
}

.search_result span {
  font-size: small;
}

.search_results_link {
  text-decoration: none;
}
